.btn-custom-black {
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.btn-custom-gray {
    background-color: silver;
}

.text-silver {
    color: silver;
}


.text-white:hover {
    color: black;
}

.text-black {
    color: black;
}

.row {
    height: 100vh;
}

.btn-custom-black:hover {
    cursor: pointer;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* 初期の影 */
    background-color: white;
    color: black;
    
}

.bg-silver {
    background-color: silver;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}

.bg-orange {
    background-color: orange;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.custom-btn {
    width: 150px;
}

.rounded-image {
    border-radius: 10px; /* 任意の半径を指定 */
}
  
.rounded-profile {
    border-radius: 50%;
}